body {
  background-color: teal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  max-width: 700px;
}
/* removes todo item by setting it's display value to none*/
.filtered {
  display: none !important;
}
